
  <div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h3>Solicitar Turno</h3>
        <p class="fs-5 text-muted">Informacion cargada</p>
      </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
        
        <div class="col">
          <div class="card mb3 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Especialistas</h4>
            </div>
            <div class="card-body">
              <ul *ngFor="let usuario of listaUsuarios">
                <input appEspecialistIcon type="image" src="{{usuario.imagen1}}"
                (click)="especialistaSeleccionado(usuario)">
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb3 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Especialidades</h4>
            </div>
            <div class="card-body" *ngIf="especialista">
              <ul *ngFor="let especialidad of especialidadesDelEspecialista">
                <input *ngIf="especialidad.aprobada" class="especialidadImg" 
                type="image" src="{{especialidad.imagen}}"
                (click)="especialidadSeleccionada(especialidad)">
                <input *ngIf="especialidad.aprobada === false" class="especialidadTxt" 
                type="image" value="{{especialidad.especialidad}}"
                (click)="especialidadSeleccionada(especialidad)">
                
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb3 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Turnos</h4>
            </div>
            <div class="card-body" *ngIf="especialidad">
              <ul *ngFor="let turno of listaTurnos">
                <li>turno</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col" *ngIf="verificarUsuario() === 'administrador'">
          <div class="card mb3 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pacientes</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-3">
                <li>10 users included</li>
              </ul>
            </div>
          </div>
        </div>
        




      </div>
  
      
    </main>
  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    </footer>
  </div>